<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <img src="favicon.ico" class="pull-left img-responsive logo">
      <a href="#" ui-sref="home" class="navbar-brand">Meaniscule</a>
    </div>
    
    <ul class="nav navbar-nav pull-right">
      <!-- <a>'s with `ui-sref` attributes that refer to other states go here -->
      <li>
        <a href="#" ng-click="changeLanguage('en')">English</a>
      </li> 
      <li>
        <a href="#" ng-click="changeLanguage('ja')">日本語</a>
      </li> 
      <li>
        <a href="http://ashryanbeats.com">Made with ア! by Ash Ryan Beats</a>
      </li> 
     
    </ul>
  </div>
</nav>