.navbar {
	border-radius: 0;
  margin-bottom: 0;
}

.logo {
  display: block;
  margin-right: 7px;
  margin-top: 14px;
  width: 35px;

  @media (max-width: 768px) {
    margin-left: 15px;
    margin-right: 0;
  }
}

