<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <img src="favicon.ico" class="pull-left img-responsive logo">
      <a href="#" ui-sref="home" class="navbar-brand" translate="BRANDING_AND_NAV.TITLE"></a>
    </div>
    
    <ul class="nav navbar-nav">
      <li>
        <a href="#" ui-sref="deployer" translate="BRANDING_AND_NAV.DEPLOY"></a>
      </li>
      <!-- <a>'s with `ui-sref` attributes that refer to other states go here -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span translate="BRANDING_AND_NAV.SET-LANG"></span><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <a href="#" ng-click="changeLanguage('en')">English</a>
          </li> 
          <li>
            <a href="#" ng-click="changeLanguage('ja')">日本語</a>
          </li> 
        </ul>
      </li>
    </ul>
  </div>
</nav>