.jumbotron {
  background-image: url('jumbotron-lg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
  @media (max-width: 768px) {
    background-image: url('jumbotron-sm.jpg');
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 16px;
    }
  }

  .container {
    background-color: hsla(360, 0%, 90%, 0.8);
    border-radius: 10px;
    color: #fff; 
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 10px 20px -8px hsla(0, 0%, 60%, 1);

    @media (max-width: 768px) {
      border-radius: 0;
    }
  }
  
  h1, p {
    color: #444444;
  }

  h1 {
    @media (max-width: 768px) {
      font-size: 40px;
    }
  }

  p {
    font-weight: 400;
  }
}